.movie-list-container {
  display: flex;
  flex-wrap: wrap;
}

.netflx-logo {
  height: 100px;
}

.movie-list-container__item,
.my-list-title-container__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.movie-list-container__item button {
  visibility: hidden;
}

.movie-list-container__item:hover button {
  visibility: visible;
}

.my-lists-container,
.my-list-title-container {
  color: white;
}

.movie-list-container__thumbnail {
  height: 300px;
  width: auto;
}

.category-title,
.movie-list-container__title {
  color: white;
  margin: 20px;
}
